body{
  background-color: rgb(21, 20, 20);
}
.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: IBM1;
  src: url("../public/fonts/IBMFONT/IBMPlexSansArabic-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: IBM2;
  src: url("../public/fonts/IBMFONT/IBMPlexSansArabic-Light.ttf");
  font-weight: 400;
}
@font-face {
  font-family: IBM3;
  src: url("../public/fonts/IBMFONT/IBMPlexSansArabic-Medium.ttf");
  font-weight: 600;
}
@font-face {
  font-family: IBM4;
  src: url("../public/fonts/IBMFONT/IBMPlexSansArabic-Bold.ttf");
  font-weight: 900;
}.MuiOutlinedInput-notchedOutline {
	border-color: white !important;
}

.MuiSvgIcon-root {
	color: white !important;
}